*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
font-family:'poppins',sans-serif;
}
 
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
     background: rgba(32, 18, 161, 0.798);
      
}

form{
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-wrap: wrap ;
    background-color:  rgba(247, 238, 238, 0.518);
    padding:10px 15px ;
    justify-content: space-between;
   
}
form div{
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-wrap: wrap ;
background-color:  rgba(198, 188, 188, 0.423);
    padding: 10px 15px ;
    justify-content: space-between;
  
}
form1 div{
    max-width: 700px;
    width: 21%;
    flex-wrap: wrap;
    background: whitesmoke;
    color: black;
    margin-left: 500px;
    margin-top: 200px;
    font-size: 45px;
    font-weight: 100;
    text-transform: capitalize;
    padding: 0.5rem 0.2rem;


}
form input{
outline: none;
padding: 12px 15px;
border-radius: 10px;
outline: none;
border: none;
}